<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @word.content %>
</p>

<p>
  <b>Example:</b>
  <%= @word.example %>
</p>

<p>
  <b>Meaning:</b>
  <%= @word.meaning %>
</p>


<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
